/*Block Blog common*/

.em_block-recent-post .block-content ,.em_block-recent-comments .block-content ,.em_blog-cat .block-content{padding:0}
.em_block-recent-post li.item .blog-title,.em_block-tag-cloud li.item .blog-title ,.em_block-recent-comments li.item .blog-title,.em_blog-cat li.item .blog-title{padding:0;}
.em_block-recent-post li.item,.em_block-recent-comments li.item ,.em_blog-cat li.item {margin: 0 10px;padding: 5px 0;}
.em_block-recent-post li.item.last,.em_block-tag-cloud li.item .last,.em_block-recent-comments li.item.last ,.em_blog-cat li.item.last{border:0} 
.time-stamp,.block span.post-on,.block span.post-by,.block span.comment-by {display:block}
/*Block: Recent Post*/
.em_block-recent-post .block-title strong {}

/*Block: Tag Cloud*/
.em_block-tag-cloud .block-content{padding:7px}
.em_block-tag-cloud .block-content .actions{padding:0;}
.em_block-tag-cloud li.item {display:inline-block;padding:0!important}

/*Block: Recent Comment*/
.recent-comment-content{margin:3px 0}
.recent-comment-content pre{white-space:normal}
/*Block :Blog*/
.em_blog-cat li{padding:0 9px}

/*Post List*/
.em_post-item {clear:both;margin-bottom: 15px;}
.em_post-item .page-title {border:none;margin-bottom:7px}
.post-title h2{margin:0}
.post-title small{margin-bottom:7px}
.em_post-item  .std{overflow:hidden;}
.em_post-item  .std img{float:left;margin-right:15px;}
.em_post-item  .postDetails{clear: both;margin-top: 10px;padding-top: 5px;}
.em_post-item  .postDetails a{}
.comment-count a{margin-left:3px}
.post-footer{padding-top:5px;margin-top:10px}

/*post detail*/
.em_post-action-top{position:relative}
.em_post-action-top .prev-button{position:absolute;top:5px;right:23px}
.em_post-action-top .next-button{position:absolute;top:5px;right:0}
.blog-index-view small.date{display:block;}
.blog-index-view .page-title {border:none;margin-bottom:7px}
.em_post-item .post-content {height:100%;overflow:hidden;}
.em_post-item .post-content img{float:left;margin-right:20px;margin-bottom:10px}
.em_post-action{overflow:hidden;height:100%;padding-top: 10px;clear:both;margin-top:15px}
.em_post-action .tags{float:left;min-width:200px}
.em_post-action .tags span,
.em_post-action .tags li a{float:left;margin-right:3px;}
.em_post-action .post-share{float:right}
.em_post-action .post-share img{height:16px;width:16px;margin-right:5px;float:left}
.em_post-action .post-share span{float:left;margin-right:5px;}
.form-comment-container h3,#comments-header h3.form-title,.temp  h3.form-title{padding-bottom:8px}
.temp  h3.form-title{position:absolute;top:15px;left:0;width:100%}
.form-comment-container{ height: 100%;overflow: hidden;padding-top: 20px;}
#0_comment_box{line-height:normal}
.form-comment{padding:0;margin:0 20px;position:relative}
.comments .field{float:left;width:100%;margin:0 10px 3px 0;clear:both;}
.comments label{float:left;clear:both;width:100%;padding:7px 0;}
.comments div.input-box{}
.comments div.input-box .input-text{width:65%;}
.form-comment-container .hide{display:none}
.comments .temp{padding-top: 45px;}
.form-comment-container .temp{padding-top: 0!important;}
.comment-item-header{position: relative;}
.comment-button{ position: absolute;right: 0;top: 25px;}
.comment-body{padding:5px 0}
.comment-body pre{white-space: normal;}
.comment-item-header .time-stamp{display:inline;}
#allcomments  .comment-item{margin-bottom: 5px;padding-top: 10px;}
.article-comments{margin-top:22px}
.rss-em-blog {float:right;}
.form-comment button{margin-top:20px;display:inline-block;}
#recaptcha_area{margin:20px 0;}
